
* {
	margin: 0;
	padding: 0;
	
     }

nav {
	text-align: center;
	witdh: 100%;
	height: 100px;
	background-color: #fff;
	}

.wrapper {
	margin: 0 auto;
	width: 1000px;
}
	


body { 
  background: lightblue url("sakuratree.jpg") no-repeat fixed center; 
  
   min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  
}


ul {
	margin-left: 0px;
	
	}
 
ul li {
	
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
	
	}
 
 footer {
 background-color: #63C5DA;
 padding: 1rem;
 margin-top: auto;
}
 
 
 
 ul li a {
	
	display: block;
	font-size 14px;
	text-decoration: none;
	font-family: Arial;
	color: #1e1e1e;
	padding: 0 20px;
	
	}
 
    
ul li a:hover {
	
	color: #63C5DA;
	
	} 



h1 {
  font-family: Arial, "Times New Roman";
  color: #FC46AA;
  text-align: center;
  font-size: 70px;
  margin: 0px;
}



p {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}

